/* encoding: utf-8 */

.panel-body-sidebar {
    min-width: 100px;
    padding-bottom: 0   !important; /* Necessary flag */
}

.panel-body-main {
    max-width: calc(100% - 100px);
    padding-bottom: 0   !important; /* Necessary flag */
}

.panel-body-header {
    margin-bottom: 10px;
}

.panel-body-map {
    height: 100%;
    position: relative;
}
