# Hidden items
.dockerignore
.gitignore
.git

# Artifacts that will be built during image creation
build
node_modules

# Development mode files
public/*.js
tests

# Ignore any markdown document
**/*.md
