# Hidden items
.dockerignore
.gitignore
.git

# Artifacts that will be built during image creation
build
node_modules

# Heavy items to avoid
resources

# Development mode env. values file
public/*.js

# Ignore any markdown document
**/*.md
