# macOS and IDE aux files
**/.DS_Store
.idea

# Dependencies
node_modules

# Testing
coverage

# Production
build

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Development mode env. values file
public/*.js
