/* encoding: utf-8 */

.papers-layout {
    height: 100%;
}

.papers-header {
    min-height: 80px;
    min-width: 950px;
    padding-bottom: 0   !important; /* Necessary flag */
}

.papers-header-segment {
    padding-top: 5px    !important; /* Necessary flag */
    padding-bottom: 5px !important; /* Necessary flag */
}

.papers-header-info {
    cursor: pointer;
}

.papers-body {
    height: calc(100% - 60px);
    min-width: 950px;
}


.search-container {
    padding-top: 5px    !important; /* Necessary flag */
    padding-bottom: 5px !important; /* Necessary flag */
}

.search-menu-item {
    width: 28%;
    height: 50px        !important; /* Necessary flag */
}

.search-menu-text {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-start-container {
    padding: 0          !important; /* Necessary flag */
}

.search-menu-dropdown {
    z-index: 1000       !important; /* Necessary flag */
}


.panel-body-sidebar {
    min-width: 100px;
}

.panel-body-main {
    max-width: calc(100% - 100px);
}

.panel-body-header {
    min-height: 80px;
}

.panel-body-map {
    height: 100%;
    position: relative;
}


.leaflet-container {
    background-color: #000000;
}

.map-component {
    height: 100%;
    width: 100%;
    position: absolute;
}


.panel-body-map-label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.panel-body-map-info {
    top: 10px;
    right: 10px;
    width: 320px            !important; /* Necessary flag */
    z-index: 450;
    cursor: default;
    position: absolute      !important; /* Necessary flag */
    background: #FFFFFF     !important; /* Necessary flag */
}
