/* encoding: utf-8 */

.papers-layout {
    height: 100%;
}

.papers-header {
    min-height: 50px;
    min-width: 950px;
    padding-bottom: 0   !important; /* Necessary flag */
}

.papers-body {
    height: calc(100% - 60px);
    min-width: 950px;
}
